<mat-card class="pb-4">
  Create New Product
  <mat-card-content class="mt-2">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12 col-md-6">
          <mat-form-field class="w-100">
            <mat-label>Product Name</mat-label>
            <input type="text" matInput formControlName="name" />
            <mat-error *ngIf="name.invalid">{{ getNameErrorMessage() }}</mat-error>
          </mat-form-field>
        </div>
        <div class="col-12 col-md-6">
          <mat-form-field class="w-100">
            <mat-label>Price</mat-label>
            <input type="number" min="0" matInput formControlName="price" />
            <mat-error *ngIf="price.invalid">Please enter price</mat-error>
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-footer class="row">
    <div class="col-3 offset-6 offset-sm-8 offset-lg-9">
      <button mat-raised-button color="primary" [disabled]="form.invalid">Create Product</button>
    </div>
  </mat-card-footer>
</mat-card>
