<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-12 col-md-4">
      <app-product-form (createProduct)="onCreateProduct($event)"></app-product-form>
    </div>
    <div class="col-10 col-md-8">
      <div class="col-12"><app-products-filter (selectedDates)="selectedDates$.next($event)"></app-products-filter></div>
      <div class="row">
        <div class="col-12">
          <app-product-table [products]="productsToShow$ | async"></app-product-table>
        </div>
      </div>
    </div>
  </div>
</div>
